# ignore everything
*

# include this file
!/.gitignore

# include project metadata files
!README.md
!LICENSE
!makefile

# include go source files
!*.go
!go.sum
!go.mod

# search subdirectories for included files
!*/